<small class="text-muted"><%= @message %></small>
<h1>Wellocme to Pizza Shop</h1>

<div class="row">
  <% @products.each do |p| %>
    <div class="col-md-3"><%= p.title %></div>
    <div><img src="<%= p.path_to_image %>"</div>
    <div><%= p.description %></div>
    <div><%= p.price %></div>
    <div><%= p.size %></div>

    <div>
      <button class="btn btn-success btn-sm" type="button" onclick="add_to_card(<%= p.id %>)">Add to card</button>
    </div>
  <% end %>
  <br>
</div>

<button class="btn btn-primary btn-lg" type="button" name="button" onClick="helloAlert()">Click me</button>

<script type="text/javascript">
  $(fucntion() {
    update_orders_input();
    update_orders_button();
  })
</script>
